<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotekclass.cms.persist.permission.ManageAccountMapper">

	<cache />

	<!-- 保存 -->
	<insert id="save" parameterType="ManageAccount" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ${tableName}
			(unit_id,username,real_name,password,type,comment,enabled,last_login_time,create_time,create_user)
		VALUES
			(#{unitId},#{username},#{realName},#{password},#{type},#{comment},#{enabled},#{lastLoginTime},now(),#{createUser})	
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="ManageAccount">
		UPDATE ${tableName}
		SET id = #{id}
		<if test="unitId != 0">
		,unit_id = #{unitId}
		</if>
		<if test="username != null and username != ''">
		,username = #{username}
		</if>
		<if test="realName != null and realName != ''">
		,real_name = #{realName}
		</if>
		<if test="password != null and password != ''">
		,password = #{password}
		</if>
		<if test="type != -1">
		,type = #{type}
		</if>
		<if test="comment != null">
		,comment = #{comment}
		</if>
		<if test="enabled != -1">
		,enabled = #{enabled}
		</if>
		<if test="lastLoginTime != null and lastLoginTime != ''">
		,last_login_time = #{lastLoginTime}
		</if>
		WHERE id= #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete">
  		DELETE FROM ${tableName}
  		WHERE id = ${id}
  	</delete>
  	
  	<!-- 通过id获取对象 -->
	<select id="getById" resultType="ManageAccount" >
		SELECT * FROM ${tableName}
		WHERE id = #{id}
		AND enabled = 1
  	</select>
  	
  	
  	<!-- 通过用户名或密码获取对象 -->
	<select id="getByNameOrPwd" resultType="ManageAccount" >
		SELECT * FROM ${tableName}
		WHERE username = #{username}
		<if test="pwd != null and pwd != ''">
			AND password = #{pwd}
		</if>
		AND enabled = 1
		LIMIT 1;
  	</select>
  	
  	<!--查找对应类型账号信息  -->
  	<select id="getByTypePage" resultType="ManageAccount">
  		SELECT * FROM ${tableName}
  		WHERE type = #{type}
  		AND enabled = 1
  		ORDER BY create_time DESC
  	</select>
  	
  	<!--查找对应类型的账号数量  -->
  	<select id="getCountByType" resultType="Integer">
  		SELECT count(*) FROM ${tableName}
  		WHERE type = #{type}
  		AND enabled = 1
  		ORDER BY create_time DESC
  	</select>
  	<!--通过courseId查找教师账户信息  -->
  	<select id="getManageAccountByCourseId" resultType="ManageAccount">
  		SELECT b.* from 
  			tb_manage_account_course_rel a,
  			tb_manage_account b  
  		WHERE 
  		a.account_id = b.id
  		AND course_id = #{courseId}
  		AND type = #{type}
  		AND enabled = 1 
  	</select>
  	
</mapper>