@charset "utf-8";
/* CSS Document */

.check_sure {
    padding-top: 20px;
	text-align:right;
}

.homework_main_1 {
    margin-top: 10px;
}

.mywork_title_1 {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
    height: 53px;
    line-height: 53px;
}
.homework_main_1 .hovertab_mywork {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 3px solid #f47c52;
    color: #f47c52;
    font-size: 14px;
    height: 51px;
}
.mywork_title_1 ul li {
    cursor: pointer;
    float: left;
    font-size: 14px;
    text-align: center;
    width: 135px;
}

.homework_main_1 .nor_mywork {
    border-right: 1px solid #fafafa;
    color: #747474;
}
.homework_main_1 .unall_letter_net {
    display: none;
}

.homewk_content_1 {
    padding: 30px 10px 30px 0;
}

.Exper_Tables {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    font-size: 14px;
}

.Exper_Tables tr th {
    background: none repeat scroll 0 0 #2f364a;
    color: #fff;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
}

.Exper_Tables tr td {
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #dcdcdc;
    color: #a7a7a7;
    line-height: 21px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.Exper_Tables tr.alt td {
    background: none repeat scroll 0 0 #f5f5f5;
}

.operation_td a {
    margin-left: 30px;
    text-decoration: none;
	margin-right:30px;
}

.check_sure .input_btn {
    background: none repeat scroll 0 0 #f47c52;
    border: 1px solid #e66b41;
    color: #fff;
    font-size: 14px;
    height: 40px;
    width: 100px;
}
/*权限管理*/
.dash_wrapper .outl_Title {
    height:40px;
	background:#f37c52;
	border:1px solid #f57b52;
    
}
.dash_wrapper .outl_Title li {
     color: #fff;
    float: left;
    font-size: 16px;
    
}
.dash_wrapper .outl_Title li.outl_Title_01 {
	margin-right:300px;
	padding-left:10px;
	padding-top:10px;
    
}
.dash_wrapper .outl_Title li.outl_Title_02 {
	margin-right:40px;
	padding-top:10px;
    
}

.dash_sure1 {
    text-align:center;
	margin-top: 10px;
}

.dash_sure1 .input_btn {
    background: none repeat scroll 0 0 #f47c52;
    border: 1px solid #e66b40;
    color: #fff;
    font-size: 14px;
    height: 40px;
    width: 100px;
	margin-right: 20px;
}
.dash_sure1 .input_btn1 {
    background: none repeat scroll 0 0 #676767;
    border: 1px solid #545454;
    color: #fff;
    font-size: 14px;
    height: 40px;
    width: 100px;
}
.outl_header{
	height:40px;
	 padding-top: 20px;
	 font-size:16px;
}
.outl_header a{
	text-decoration:none;
	color:#646464;
}
.outl_header a:hover{
	text-decoration:none;
	color:#646464;
}
.outl_header .mgin_em {
	background:url(../../images/system/d1_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_1 {
	background:url(../../images/system/d2_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_2 {
	background:url(../../images/system/d3_03.jpg) no-repeat;
	height:25px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_3 {
	background:url(../../images/system/d4_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_4 {
	background:url(../../images/system/d5_03.jpg) no-repeat;
	height:25px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_5 {
	background:url(../../images/system/d6_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_6 {
	background:url(../../images/system/d7_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_7 {
	background:url(../../images/system/d8_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_8 {
	background:url(../../images/system/d9_03.jpg) no-repeat;
	height:20px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_9 {
	background:url(../../images/system/d10_03.jpg) no-repeat;
	height:30px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_10 {
	background:url(../../images/system/d11_03.jpg) no-repeat;
	height:25px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outl_header .mgin_em_11 {
	background:url(../../images/system/d12_03.jpg) no-repeat;
	height:25px;
	width:22px;
	display: inline-block;
	float:left;
	padding-left: 20px;
}
.outlinemenu ul{
	padding-left:70px;
}
.outlinemenu ul li label input.account_02{
	margin-right:40px;
	width: 28px;
}
.outlinemenu ul li span{
	 font-size:16px;
	 display:inline-block;
	 height: 40px;
    width: 160px;
}
.outlinemenu ul li span.section_name{
	margin-right:170px;
}
/*公共弹出框*/
.payforpbbox{
    display: none;
    position: fixed;
	left:28%;
    top: 15%;
    z-index: 9999;
}
.payforpbbox1{
    display: none;
    position: fixed;
	left:28%;
    top: 15%;
    z-index: 9999;
}

.prompt_main .rel_problem_1 .exper_date_02 {
   border: 1px solid #d3d3d3;
    height: 30px;
    width: 160px;
}
.prompt_main .rel_problem_1 .exper_date_03 {
    width: 155px;
}

.prompt_main .li_btn1 {
    height: 42px;
    line-height: 42px;
    padding-left: 90px;
}

.prompt_main .li_btn1 input.confirm_btn {
    background: none repeat scroll 0 0 #ff7646;
    border: 1px solid #ff7646;
    color: #fff;
}
.prompt_main .li_btn1 input {
    font-size: 14px;
    height: 40px;
    margin-right: 8px;
    width: 100px;
}
.payforpbbox h2 span.pmp_close {
    background: url("../../images/system/close_06.jpg") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 11px;
    width: 9px;
}
.prompt_main li span.dash_check_02{
	background: url("../../images/system/check_01.png") no-repeat scroll left 10px rgba(0, 0, 0, 0);
    color: #646464;
    display: inline-block;
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    width: 70px;
}
.prompt_main li p.dash_check_02{
	background: url("../../images/system/check_01.png") no-repeat scroll left 10px rgba(0, 0, 0, 0);
    color: #646464;
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    width: 70px;
}
.prompt_main li p.dash_check_05{
    color: #646464;
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    width: 70px;
}
.prompt_main li p.account_03{
   width: 330px;
}
.prompt_main li p label{
   width: 80px;
   display: block;
   float:left;
}

.prompt_main .rel_problem_1 input.account_01 {
    height: 12px;
    width: 12px;
}
.prompt_main .rel_problem_1 input.account_02{
    height: 12px;
    width: 12px;
}
.prompt_main .rel_problem_1 textarea.account_04{
    height: 128px;
    width: 300px;
}

.payforpbbox1 {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 3px solid #ff7646;
    max-width: 490px;
    overflow: hidden;
}
.payforpbbox1 h2.pmp_title {
    background: url("../../images/user/p_bg.jpg") repeat-x scroll left center rgba(0, 0, 0, 0);
    border-bottom: 1px solid #e8e8e8;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    padding-left: 20px;
    position: relative;
}
.payforpbbox1 h2 span.pmp_close {
    background: url("../../images/user/close_06.jpg") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 11px;
    width: 9px;
}
.w_490 {
    width: 490px;
}
.w_490 .cx {
    font-size: 14px;
    min-height: 100px;
	padding: 20px 15px 20px 30px;
}

.prompt_main .li_btn2 input.confirm_btn {
    background: none repeat scroll 0 0 #ff7646;
    border: 1px solid #ff7646;
    color: #fff;
}
.prompt_main .li_btn2 input {
    font-size: 14px;
    height: 40px;
    margin-right: 8px;
    width: 100px;
}
.prompt_main .li_btn2 {
    height: 42px;
    line-height: 42px;
    padding-left: 150px;
}